.aboutContainer {
    margin: 0;
    background: linear-gradient(45deg, #020024, #164c92, #3c3c3c);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
}

.ul {
    list-style: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}